<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniPub | Video</title>
    <link rel="stylesheet" href="second-section.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&display=swap" rel="stylesheet">
    <link href="https://vjs.zencdn.net/8.16.1/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="first-section.css">
    <link rel="stylesheet" href="third-section.css">
    <link rel="stylesheet" href="info-container.css">
    <link rel="stylesheet" href="media2-styles.css">
    <link rel="stylesheet" href="media-styles.css">
    <link rel="stylesheet" href="videoPlayerHeader.css">
</head>
<body>

   
    <header class="header-div" >
        <a href="/" target="_blank" class="first-section-a">
            <div class="fs">
                <div class="logo-div" >
                    <img class="logo" src="Logo-1.png" alt="">
                </div>
                <div class="details">
                    <p class="logoName">AniPub</p>
                    <p class="slogan" style="margin-left: 1px; margin-top: -2px;">Yamate Kudasai</p>
                </div>
            </div>
        </a>
        <div class="Search-Box-Area">
            <input class="searchbox" type="text" placeholder="Search">
            <button class="search-button"></button>
           
        </div>

        <div class="ss">
            <button class="random">Random</button>

            <a href="/Profile"><button class="profile-icon" title="Profile Menu">
             <img style="width: 100%; height: 100%;  object-position: center;" src="account_circle_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            </button></a>
        </div>
    </header>



    <div class="first-section">
        <div class="cover-pic-div">
            <img class="cover-pic" >
        </div>
       <div class="Container-No1">
        <div class="video-player-box">
            
        </div>
        <div class="Ep-section">
            <div class="Ep-list-title"> Next EP :-</div>
            <div class="list-div-container">
                

                
            </div>
        </div>
       </div>
    </div>



    <div class="surer-div">
    <div class="Second-Section">
        <div class="profile-container">
        <div class="profile-div">
            <img class="poster"  alt="">
        <div class="buttons">

            <button class="Play-button">
                <img src="play-svgrepo-com.svg" alt="Download Image">
            </button>
            <div class="button-div-download">
               
            </div>
            
            
            

            <button class="Add-to-watchlist-button">
                <img src="plus-large-svgrepo-com.svg" alt="">
                <p>Add to Watchlist</p>
            </button>
        </div>
        </div> 
        
        
        
        
        <div class="Info-container">
            <div class="Detailes">
                <p class="Name">Name:<span class="name"></span></p>
                <p>Synonyms: <span class="Synonyms"> </span></p>
                <p>Aired:<span class="Aired"></span></p>
                <p>Premiered:<span class="Premiered"></span></p>
                <p>Duration:<span class="Duration"></span></p>
                <p>Status:<span class="Status"></span></p>
                <p>MAL Score:<span class="mALScore"></span></p>
                <p>Genres:<span class="Genres"></span></p>
                <p>Studios: <span class="Studios"></span></p>
                <p>Producers:<span class="Producers"></span></p>
            </div>


            <div class="Description-container">
                <p class="Des-title">Description:</p>
                <div class="Description-div">
                    <p class="Description"></p>
                </div>
            </div>
            
        </div>
        
    
    </div>



       

    </div>
    <div class="Marker">
        Marker
    </div>
</div>


<div class="third-section">


   

    
    <div class="recommendation-main">
        <div class="recommendation-div">

        </div>
        <div class="recommendation-title">
            Recommendations
        </div>
    </div>



</div>




    <script type="module" src="rec2.js"></script>
    <script type="module" src="videotemp.js"></script>
    <script type="module" src="updateWatchList.js"></script>
    <script type="module" src="addEP.js"></script>
    <script src="https://vjs.zencdn.net/8.16.1/video.min.js"></script>
</body>
</html>